@model SaveMate.ViewModel.UserAccountViewModel

@{
    ViewData["Title"] = "Details";
    int index = 1;
}

<h1>Details</h1>

<table class="table table-bordered">
    <tr>
        <th>@Html.DisplayNameFor(model => model.user.FirstName)</th>
        <td>@Html.DisplayFor(model => model.user.FirstName)</td>
        <th>@Html.DisplayNameFor(model => model.user.LastName)</th>
        <td>@Html.DisplayFor(model => model.user.LastName)</td>
    </tr>
    <tr>
        <th>@Html.DisplayNameFor(model => model.user.DateOfBirth)</th>
        <td>@Html.DisplayFor(model => model.user.DateOfBirth)</td>
        <th>@Html.DisplayNameFor(model => model.user.CreatedAt)</th>
        <td>@Html.DisplayFor(model => model.user.CreatedAt)</td>
    </tr>
</table>

<table class="table">

    <thead>
        <tr>
            <th>Number</th>
            <th>Account type</th>
            <th>Balance</th>
            
        </tr>


    </thead>
    <tbody>
        @foreach (var account in Model.account)
        
    {
            <tr>
                <td>@index</td>
                <td>@account.PredefinedType</td>
            <td>@account.Balance</td>
            </tr>
            index++;
        }
   
    </tbody>
    
    
</table>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.user.UserId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
